@media (max-width: 640px) {
    #sidebar{
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
    }

    #maincontainer{
        width: 90vw;
        margin-left: 5vw;     
        }
    #section_chua_slogan{
            
            width: 80vw;
        }
     #section_chua_slogan h2{
            
            font-size: clamp(1px, 4vw, 100px) ;

        }
    .slogan a{
            font-size: clamp(1px, 4vw, 50px) ;
           
        }
    .icon{
            width: 4vw;
            fill: #00f2fe;
            
        }
     #infor{
            width: 80vw;
            padding-left: 0.3rem !important;
            font-size: 1.5vw;
            
        }
     #aboutme{
            width: 80vw;
            padding-left: 0.3rem !important;
            font-size: 1.5vw;
        }
    #math{
            width: 80vw;
            padding-left: 0.3rem !important;
            justify-items: center;

        }
    .subject-title-math{
            font-size: clamp(14px,10vw,60px);
        
        }

        

    


}